[Unit]
Description=Telegram Reminder Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/TGreminder
ExecStart=/home/pi/TGreminder/.venv/TGreminder/bin/python /home/pi/TGreminder/TelegramReminder_autorun.py
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
